Flask
Flask-SQLAlchemy==2.1
Flask-Migrate
Flask-WTF
Flask-Uploads
Flask-Sijax
Jinja
Werkzeug
gunicorn
itsdangerous
psycopg2
mock
paypalrestsdk
paypal
Flask-Session
Cython
numpy
scipy
matplotlib
scikit-learn