{% extends "base.html" %}
{% block body %}
<style>
  .not-active {
   pointer-events: none;
   cursor: default;
  }
</style>
  <div class="container">
    <div class="row">
      {% for i in event_lst %}
      {% if i.days > 0 %}
        <div class="col s12 m4 l4">
          <div class="card large">
            <div class="card-image">
              <a href="/details/{{ i.id }}"><img src="/static/posters/{{ i.poster }}"></a>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"><b>{{ i.eventname }}</b><i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4 center"><b>{{ i.eventname }}</b><i class="material-icons right">close</i></span>
              <h6><b>Price</b>: {{ i.admission }}</h6>
              <h6><b>Date</b>: {{ i.date }}</h6>
					     <h6><b>Time</b>: {{ i.start_time }} - {{ i.end_time }}</h6>
					     <h6><b>Venue</b>: {{ i.venue }}</h6>
            </div>
            <div class="card-action">
              <p>Views: {{ sum_page_count(i.id) }}</p>
              {% if user()!="Guest" %}
              <a class="waves-effect waves-light btn modal-trigger" href="#modal{{ i.id }}">purchase</a>
              {% else %}
              <a class="waves-effect waves-light btn modal-trigger not-active">purchase</a>
              {% endif %}
            </div>
          </div>
        </div>
        <div id="modal{{ i.id }}" class="modal col s7">
          <div lass="modal-content">
            <div class="row">
              <h4>Purchase Ticket(s) for {{ i.eventname }}</h4>
              <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header"><i class="material-icons">credit_card</i>New Payment Card</div>
                  <div class="collapsible-body">
                    <a href="{{ url_for('add_payment') }}" class="btn waves-effect waves-white">Click here to be redirected to the page to add a payment option</a>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">whatshot</i>Used Stored Payment Card</div>
                  <div class="collapsible-body">
                    <form action="{{ url_for('events_listing', cat=category) }}" method="POST">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Purchase Now</a>
                      {{ form.event_number(type="hidden", value=i.id) }}
                    </form>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat">Exit</a>
          </div>
        </div>
        {% endif %}
        {% if i.days < 0 %}
        <div class="col s12 m4 l4">
          <div class="card large">
            <div class="card-image">
              <a href="/details/{{ i.id }}"><img src="/static/posters/{{ i.poster }}"><img height="180px;" style="z-index:444;bottom:15px;right:28px;position: absolute;" src="/static/content/ended.png"></a>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"><b>{{ i.eventname }}</b><i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4 center"><b>{{ i.eventname }}</b><i class="material-icons right">close</i></span>
              <h6><b>Price</b>: {{ i.admission }}</h6>
              <h6><b>Date</b>: {{ i.date }}</h6>
					     <h6><b>Time</b>: {{ i.start_time }} - {{ i.end_time }}</h6>
					     <h6><b>Venue</b>: {{ i.venue }}</h6>
            </div>
            <div class="card-action">
              <p>Views: {{ sum_page_count(i.id) }}</p>
              {% if user()!="Guest" %}
              <a class="waves-effect waves-light btn modal-trigger" href="#modal{{ i.id }}">purchase</a>
              {% else %}
              <a class="waves-effect waves-light btn modal-trigger not-active">purchase</a>
              {% endif %}
            </div>
          </div>
        </div>
        <div id="modal{{ i.id }}" class="modal col s7">
          <div lass="modal-content">
            <div class="row">
              <h4>Purchase Ticket(s) for {{ i.eventname }}</h4>
              <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header"><i class="material-icons">credit_card</i>New Payment Card</div>
                  <div class="collapsible-body">
                    <a href="{{ url_for('add_payment') }}" class="btn waves-effect waves-white">Click here to be redirected to the page to add a payment option</a>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">whatshot</i>Used Stored Payment Card</div>
                  <div class="collapsible-body">
                    <form action="{{ url_for('events_listing', cat=category) }}" method="POST">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Purchase Now</a>
                      {{ form.event_number(type="hidden", value=i.id) }}
                    </form>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat">Exit</a>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}