<div id="side-v" class="page-footer red lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">DreamVents</h5>
        <p class="grey-text text-lighten-4">Come and find your favourite event right here.</p>
        
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
	        <li><i class="material-icons">view_module</i><a class="grey-text text-lighten-3" href="/home">Home</a></li>
	        <li><i class="material-icons">queue_music</i><a class="grey-text text-lighten-3" href="/newevent">Newevent</a></li>
	        <li><i class="material-icons">language</i><a class="grey-text text-lighten-3" href="/landing">Browse Categories</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Copyright DreamChasers Ltd.
    <a class="grey-text text-lighten-4 right" href="/about">About</a>
    </div>
  </div>
</div>