<script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
<link rel="stylesheet" href="/static/css/custom.css">
<div id="top-nav">
<ul id="dropdown1" class="dropdown-content">
  <li><a href="{{ url_for('account') }}">Account</a></li>
  <li class="divider"></li>
  <li><a href="{{url_for('logout')}}">Logout</a></li>
</ul>
<nav style="black"> 
  <ul id="slide-out" class="side-nav">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header">Welcome {{user()}}<i class="mdi-navigation-arrow-drop-down"></i></a>
          
        </li>
      </ul>
    </li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">DREAMVENT</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="{{url_for('home')}}">Home</a></li>
      <li><a href="{{url_for('landing')}}">View Categories</a></li>
      <li><a data-target="modal1" class="modal-trigger">Select Categories</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">welcome
            <div class="chip">
                <img src="/static/profile_pics/{{ picture() }}"></img>
                {{ user() }}
            </div>
      <i class="mdi-navigation-arrow-drop-down right"></i></a></li>
      <li>
        <form>
          <div class="input-field">
            <input id="search" type="search" style="margin-bottom:0px;color:black;height:63px;" required>
            <div id="search_results" style="width:260px;height"></div>
            <label for="search"><i class="mdi-action-search"></i></label>
            <i class="mdi-navigation-close"></i>
          </div>
        </form>
      </li>
    </ul>
  </div>
</nav>
</div>

<script type="text/javascript">
  $(".button-collapse").sideNav();
</script>

<!-- Modal Structure -->
	  	<div id="modal1" class="modal modal-fixed-footer">
	    	<div class="modal-content">
	      		<h4 class="row center">Select Your Prefered Categories</h4>
	      		<div class="row">
	      			<form class="col s12" action="{{ url_for('welcome') }}" method="POST" enctype="multipart/form-data">
	      				<button class="btn waves-effect waves-light pinned" style="margin-left:70%;margin-top:30%;" type="submit" name="action">Enter</button>
	      				{% for j in categorys() %}
	      				<div class="row">
	      					<p>
	      						<input type="checkbox" id="test{{ j.id }}" name="{{ j.category_name }}" />
      							<label for="test{{ j.id }}">{{ j.category_name }}</label>
	      					</p>
	      				</div>
	      				{% endfor %}
	      				<div>
	    					<!--<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat "><button class="btn waves-effect waves-light col s12" type="submit" name="action">Exit</a></a>-->
	      					<!--<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">-->
	      					
	      					<!--</a>-->
	    				</div>
	      			</form>
	      		</div>
	    	</div>
	  	</div>