<script type="text/javascript" src="{{ url_for('static', filename='materialize/js/materialize.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="/static/css/rating.css">
<div class="fixed-action-btn horizontal click-to-toggle">
 	<a class="btn-floating btn-large red">
    	<i class="large material-icons">thumb_up</i>
	</a>
	<ul>
		<li><a class="btn-floating red"><i id="5" class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="5">grade</i></a></li>
	    <li><a class="btn-floating yellow darken-1"><i id="4" class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="4">grade</i></a></li>
	    <li><a class="btn-floating green"><i id="3" class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="3">grade</i></a></li>
	    <li><a class="btn-floating blue"><i id="2" class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="2">grade</i></a></li>
	    <li><a class="btn-floating purple"><i id="1" class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="1">grade</i></a></li>
	</ul>
</div>